extends layout

block content
  div.container
    header
      div.buscador
        div
          a(href='') Mi cuenta/Registrarse
        div
          input#buscador(type='text')
          input#lupa(type='submit')
          a#linkCarrito(href="") Carrito
            img#iconCarrito
      nav
        div.menuIzq
          a(href="") Home
          a(href="") Conocenos
        div.logo
          img#logoHome(src="images/logo.png", alt="")
        div.menuDer
          a(href="") Cómo comprar
          a(href="") Contacto
      div.imgHeader
        img(src="images/Titulo_izquierda.png", alt="")
        img(src="images/Titulo_derecha.png", alt="")
      section#destacados
          div.principal 
            img.discoRandom(src=favoritosArray[0].src)
          div.favoritos    
          each favorito, index in favoritosArray
            if index>0 && index<3
              div
                img.discosDiv(src=favorito.src) 
            if index>3
              div
                img.discosDiv(src=favorito.src)