body {margin-left: 4em;}

header{
	padding-left:6em;
}

h1{
	font-size: 2.2em;
	font-family: cambria;
	padding-left:1em;
	padding-right:3em;
}

a{
	font-family: calibri;
	font-size: 0.9em;
}

#TextoPrincipal {
	font-size: 1.2em;
	font-family:georgia; 
	margin-right: 27em;
	line-height: 30px;

}

#fechayhora {
	color: gray;
	font-family: Arial;
}

ul{
   list-style-type: none;
}

li{
   display: inline;
}
.PieFoto { 
	font-family: Arial;
	font-size: 17px;
    line-height: 27px;
    margin-right: 26em;
}

.navegacion, .hora {
	font-weight: bold;
}

.capital {
	font-size: 4em;
	font-family: arial;
	font-weight: bold;
}