.profileWrapper{
    display: flex;
    width: 50%;
    margin: 0 auto;
}
.ProfilePic figure{
    width: 30%;
}
.ProfilePic img{
    width: 100%;
}
.ProfileInfo{
    text-align: left;
}
.profileIcons{
    background-color: rgb(10, 190, 106);
    display: flex;
    justify-content: space-around; 
}
.profileIcons a{
    color: white;
    font-size: 1.5em;
    margin:0.2em;
}