.formulario {
	border:solid;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-bottom: 2em;
	padding-right:2em;
	padding-top: 2em;
	padding-left: 2em;
}

h1 {
	font-family: Arial;
	font-weight: bold;
	margin-left: 1em;

}