*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    margin:0 auto;
    width:60%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
}
.izq, aside{
    margin:2em 0;
}
h1{
    margin-bottom: 0.5em;
    font-size: 28px;
}

form{
    width:100%;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form div label, form div select, form div input{
    margin:0.3em 0;
}

form div select, form div input {
    width: 70%;
    padding:0.4em 0.5em;
    border-radius:2px;
    border: solid 1px gray;
}

#btnConfirmar{
    margin-top:1.5em;
    padding:8px 15px;
    background-color: rgb(154, 12, 167); 
    color: white;
    box-shadow: 0;
    border: 0;
    border-radius: 5px;
}

#btnConfirmar:hover{
    background-color: rgb(215, 150, 221);
}   

aside{
    width:36%;
    background-color: rgb(240, 191, 255);
    padding: 1em;
}
 aside h2{
     font-size: 20px;
     text-align: center;
 }

 .food{
     display: block;
 }

 .foodDiv{
     text-align: center;
     margin:2.5em 0 1em 0;
 }
